
#s70-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: none;
  box-shadow: 2px 2px 20px grey;

  background-color: black;
}

#header-inner .h2 a{
  color: goldenrod;
}

#header-inner {
  margin-left: 0;
  margin-right: 0;
}

#under-dev-warnings:hover {
  color: lawngreen !important;
}

.h2 a:hover{
  background-color: transparent;
  text-decoration: none;
}

nav ul {
  display: block;

  margin-bottom: 0;
  padding-left: 0;
}

nav ul li {
  display: inline-block;
  padding: 0 1em;
  line-height: 3em;
}

nav ul li a:hover {
  background-color: lightblue;
  text-decoration: none;
}

#main-menu {
  margin-left: auto;
  margin-right: 25px;
}

#main-menu-open {
  display: none;
}

i.menu-toggle {
  cursor: pointer;
}

@media (max-width: 50em) {
  #s70-logo {
    margin-left: .5rem !important;
  }

  #main-menu {
    width: 90%;
    padding-left: 2rem;
  }

  #main-menu-open {
    display: inline-block;
  }

  nav ul {
    display: block;
    margin-bottom: 0;
    color: goldenrod;
  }

  nav ul li {
    display: list-item;
    padding: 0 1em;
    line-height: 3em;

    text-align: left;
  }
}

@media (min-width: 50em) {
  .menu-toggle {
    display: none;
  }
}