.container
  .row
    .col-12
      %h1.text-center.mt-4
        The Page You've Requested Cannot Be Found
      .h3.text-center.mt-4
        Ah Jeez... OK, what happened?
      %p
        Well, this is our sexy new website. It's brand new and completely disconnected from our old site