.container
  .row.mt-4
    .col-12
      %h1.text-center.ruslan.mt-4
        Page Not Found
      .h3.text-center.mt-4
        Ah Jeez... sorry about that.
      %p.text-center.mt-4
        As of Fall 2018, S'70 is running on a brand new, Rails-backed website! As a result, many of the
        %strong.red old links
        that search engines direct you to
        %strong.red no longer work.
        But that's OK! We have a whole slew of new pages! Why don't you check out a random one below?

      .row.mt-4
        - 4.times do
          .col-6.col-sm-4.col-md-3.text-center
            = random_page