
%div
  = image_tag 's70_photos/Eden_Pearl_From_Above.jpg', style: 'width:100%'
  %div#page-body
    .container.text-center{style: 'background-color: rgba(0,0,0,.8);'}
      .row
        .col-12.p-0.pt-3{style: 'color:white'}
          .row
            .col-12
              %h3 Working with Eden
          .row
            .col-12
              Janet can say some stuff here
          .row
            .col-12
              and here
          .row
            .col-12.text-right
              and here
          .row
            .col-12.text-left
              and here
          .row
            .col-12.text-right
              and here
          .row
            .col-12
              and here
          .row
            .col-12.text-right
              and here
          .row
            .col-12.text-left
              and here
          .row
            .col-12.text-right
              and here...
        .col-12.p-0.pb-3.pt-3
          = link_to 'Visit Eden', 'https://edenautism.org/', class: 'btn btn-primary white'

