.container
  .row
    .col-12
      %hr
      %h1.text-center.ruslan.deep-grey S70 in the Community
      %hr

= render partial: 'components/card_with_side_image',
  locals: { image_path: 's70_photos/eden_logo.png',
            img_link: 'https://edenautism.org/',
            body: eden_text_1 }

= render partial: 'components/card_with_side_image',
  locals: { img_right: true,
            image_path: 's70_photos/jen_ian.jpg',
            body: eden_text_2 }

= render partial: 'components/card_with_side_image',
  locals: { image_path: 's70_photos/curt_scott_necklace.jpg',
            body: eden_text_3 }
