
%div#donations-page
  -#= image_tag 'stock_photos/barrel-cash-coins-164580.jpg', style: 'width:100%'
  %div#donations-body
    .container.ruslan.text-center{style: 'background-color: rgba(0,0,0,.8);'}
      .row
        .col-12.p-0.pt-3{style: 'color:white'}
          .container
            .row
              .col-12
                %p
                  "I can no other answer make,
            .row
              .col-12
                %p
                  but, thanks,
            .row
              .col-12
                %p
                  and thanks."
            .row.text-right.permanent-marker
              .col-12
                %p
                  = '- Shakespeare, Twelfth Night'
        .col-12.p-0.pb-3.pt-3
          = render partial: 'paypal_button'

-# TODO: Include show_grid and show_viewport