
%div
  = image_tag 'stock_photos/barrel-cash-coins-164580.jpg', style: 'width:100%'
  %div#page-body
    .container.text-center{style: 'background-color: rgba(0,0,0,.8);'}
      .row
        .col-12.p-0.pt-3{style: 'color:white'}
          Thanks for thinking of us...
        .col-12.p-0.pb-3.pt-3
          %button.btn.btn-primary
            Donate