.container
  .row
    .col-12
      %h1.text-center.poppins.my-4 Shakespeare 70
    .col-12
      = render partial: 'components/card_with_side_image',
               locals: { image_path: 'https://drive.google.com/uc?export=view&id=1zH0llbL2CWL0FcFG66oi9XEPRHvwo-kS',
                         img_right: true,
                         body: welcome_text1 }
    .col-12
      %blockquote.blockquote
        %p.font-weight-bold
          In Annie Baker's enigmatic and entertaining The Antipodes ("endlessly fascinating…" -- the NY Times) eight people brainstorm ideas for a story -- for a movie?  a TV pilot??  That's never revealed, but as one story leads to another more super-natural one, more is revealed and less is certain about these story-tellers. A great ensemble play about the how and the why of story-telling, and communication in general.