.container
  .row
    .col-12.text-center
      %h1 404 Not Found
      %h2.h4 Oooh boy...OK, we can explain this...
      %p
        So, we here at S'70 just rebuilt this website, leaving the age of word press and
        stumbling into the age of Rails.
      %p
        One sad little side effect is that if you got here through an old search engine link,
        you're probably not exactly where you want to be.
      %p
        But please explore the new site and let me (Ray) know if there's something you're looking
        for and can't find!
      %p.text-right
        = '- Ray raymondfallon@gmail.com'
