.container-fluid
  .row
    .col-4
      %img{ src: 'https://drive.google.com/uc?export=view&id=1BxqxJNwEALUN59kcPhum_U8O7Qo7MFX1',
            alt: 'My first CDN image',
            class: 'img-fluid rounded-1r mt-2 mb-2' }
