%h1.m-4.text-center.ruslan.deep-grey A Recent History

.container
  - @productions.keys.each_with_index do |year, idx|
    - unless idx.zero?
      %hr
    .row
      .col-12.col-md-3.text-center.align-self-center
        %h2.inline-block.deep-grey= year
      .col-12.col-md-7.offset-md-1
        .row.justify-content-around
          - @productions[year].each do |production|
            .col-6.col-lg-4.text-center.align-self-center
              .container.production-pill
                .row
                  .col-12
                    = link_to production do
                      =image_tag production.poster, class: 'img-fluid elevation-4',
                                                    style: 'max-width: 180px',
                                                    alt: "#{production.title} Poster"
                  .col-12
                    = link_to production.title, production, class: 'show-title no-decoration black'