
%div
  = image_tag 'stock_photos/ancient-architecture-art-189532.jpg', style: 'width:100%'
  %div#page-body
    .container.text-center{style: 'background-color: rgba(0,0,0,.8);'}
      .row
        .col-12{style: 'color:white; border-radius: 12px;'}
          %h1.ruslan.mt-3 SHAKESPEARE '70
          = link_to 'Clybourne Park', clybourne_page, class: 'btn btn-primary mb-4 white'
