
%div
  = image_tag 'stock_photos/ancient-architecture-art-189532.jpg', style: 'width:100%'
  %div#page-body
    .container.text-center{style: 'background-color: rgba(0,0,0,.8);'}
      .row
        .col-12{style: 'color:white'}
          %h1.mb-0 SHAKESPEARE '70
