
$color1:  #021D3E; //black;  // #960D80; // #FF8114; // #2D4471;
$color2:  #80A8D7; //blue;  // #A4CC12; // #833D00; // #AA8339;
$color3:  white; //white;  // #F6F150; // #FFCFA5; // #E8E687;
$color4:  #021D3E; //black;  // #5C158F; // #833D00; // #552B72;


$header-bg-color: $color1;
$header-text-color: $color2;

$body-bg-color: $color3;
$main-text-color: #color4;
//$main-text-color-light: black;
$main-text-color-light: lighten($color4, 20%);





//$deep-grey: #4F4F4F;