
$color1: #960D80; // #FF8114; // #2D4471;
$color2: #F6F150; // #FFCFA5; // #E8E687;
$color3: #5C158F; // #833D00; // #552B72;
$color4: #A4CC12; // #833D00; // #AA8339;


$body-bg-color: $color2;
$main-text-color: $color3;
$main-text-color-light: lighten($color3, 20%);

$header-bg-color: $color1;
$header-text-color: $color4;




//$deep-grey: #4F4F4F;