$deep-grey: #4F4F4F;

html, body {
  margin: 0;
  height: 100%;
}

main {
  //background-color: $deep-grey;
  font-family: poppins;
  height: 100%;
}

.page-photo {
  width: 100%;
}

.no-decoration {
  text-decoration: none !important;
}
.no-decoration:hover {
  text-decoration: none !important;
  background-color: transparent !important;
}

.black {
  color: black !important;
}
.black:hover {
  color: black !important;
}

.hover-shadow:hover {
  text-shadow: 1px 1px lightgrey;
}

.deep-grey {
  color: $deep-grey;
}