$deep-grey: #4F4F4F;
$facebook-blue: #3B5998;
$twitter-blue: #0084FF;
$instagram-red: #fb3958;

html, body {
  margin: 0;
  height: 100%;
}

main {
  //background-color: $deep-grey;
  font-family: poppins;
  height: 100%;
}

.page-photo {
  width: 100%;
}

.no-decoration {
  text-decoration: none !important;
}
.no-decoration:hover {
  text-decoration: none !important;
  background-color: transparent !important;
}

.black {
  color: black !important;
}
.black:hover {
  color: black !important;
}

.goldenrod {
  color: goldenrod !important;
}
.goldenrod:hover {
  color: goldenrod !important;
}

.hover-shadow:hover {
  text-shadow: 1px 1px lightgrey;
}

.deep-grey {
  color: $deep-grey;
}

.white {
  color: white !important;
}

#facebook_icon:hover {
  color: white !important;
  font-size: 2em;
}

#twitter_icon:hover {
  color: $twitter-blue !important;
  font-size: 2em;
}

#instagram_icon:hover {
  color: $instagram-red !important;
  font-size: 2em;
}

.red-hover:hover {
  color: red !important;
  background-color: black;
}