@import 'color_variables';

html, body {
  margin: 0;
  height: 100%;
  background-color: $body-bg-color !important;
}

main {
  //background-color: $deep-grey;
  font-family: poppins;
  height: 100%;
  background-color: $body-bg-color;
  color: $main-text-color;
}

p, ol, ul, td {
  font-size: 18px;
}

.h1, h1 {
  font-size: 3.5em !important;
}

.h2, h2 {
  font-size: 3em !important;
}

.h3, h3 {
  font-size: 2.5em !important;
}

.h4, h4 {
  font-size: 2em !important;
}

.h5, h5 {
  font-size: 1.5em !important;
}

@media (max-width: 50em) {
  h1, h2, .h1, .h2 {
    font-size: 2.5em !important;
  }

  h5, .h5 {
    font-size: 1em !important;
  }
}

.page-photo {
  width: 100%;
}

.no-decoration {
  text-decoration: none !important;
}
.no-decoration:hover {
  text-decoration: none !important;
  background-color: transparent !important;
}

.black {
  color: $color4 !important;
}
.black:hover {
  color: $color4 !important;
}

.goldenrod {
  color: $header-text-color !important;
}
.goldenrod:hover {
  color: $header-text-color !important;
}

.hover-shadow:hover {
  text-shadow: 1px 1px lightgrey;
}

.deep-grey {
  color: $main-text-color-light !important;
}

.white {
  color: white !important;
}
.red {
  color: red !important;
}

.yellow-hover:hover {
  color: yellow !important;
  background-color: $header-bg-color;
  //box-shadow: 0 0 3px yellow;
}

.hidden {
  display: none !important;
}

.mt-2-half {
  margin-top: .75rem !important;
}