// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'color_variables';

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', serif;
}

.permanent-marker {
  font-family: 'Permanent Marker', arial, helvetica, serif !important;
}

.poppins {
  font-family: 'Poppins', verdana, arial, helvetica, serif;
}

.ruslan {
  font-family: 'Ruslan Display', arial, helvetica, serif !important;
}

#member-show-container {
  padding-top: 3em;
  //padding-bottom: 2em;
}

.rounded-1r {
  border-radius: 1rem !important;
}

.rounded-2r {
  border-radius: 2rem !important;
}

.member-card a {
  color: $color4;
}

.member-card a:hover {
  color: $color4;
  background-color: white;
  text-decoration: none;
}

.member-card:hover {
  box-shadow: 2px 2px 18px rgba(black, .50);
}

.casting_credit {
  padding-left: 1.5em;
  text-indent: -1.5em;
}

.polaroid-border {
  border: 8px solid white !important;

  .card-body {
    padding: .5rem .25rem .5rem .25rem;
  }
}

@media (min-width: 1140px) {
  .polaroid-border .card-body {
    padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  }
}