// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$deep-grey: #646464;

h1, h2, h3, h4, h5 {
  font-family: 'Permanent Marker', serif;
}

.permanent-marker {
  font-family: 'Permanent Marker', arial, helvetica, serif !important;
}

.poppins {
  font-family: 'Poppins', verdana, arial, helvetica, serif;
}

.ruslan {
  font-family: 'Ruslan Display', arial, helvetica, serif !important;
}

#member-show-container {
  padding-top: 3em;
  //padding-bottom: 2em;
}

.rounded-1r {
  border-radius: 1rem !important;
}

.rounded-2r {
  border-radius: 2rem !important;
}

a.member-card {
  color: black;
}

a.member-card:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  box-shadow: 5px 5px 5px lightgrey;
}
