// Place all the styles related to the Productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'color_variables';

ul.cast-list {
  list-style: none;
}

.member-link {
  text-decoration: none;

  :hover {
    background-color: $body-bg-color;
    text-decoration: none;
    text-shadow: 1px 1px lightgrey;
  }
}

.fa-rotate-155 {
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -ms-transform: rotate(155deg);
  -o-transform: rotate(155deg);
  transform: rotate(155deg);
}

.fa-rotate-205 {
  -webkit-transform: rotate(205deg);
  -moz-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  -o-transform: rotate(205deg);
  transform: rotate(205deg);
}

.production-pill .img-fluid {
  box-shadow: 5px 5px 16px rgba(0, 0, 0, .3) !important;
}

.production-pill:hover {

  .img-fluid {
    color: black;
    text-decoration: none;
    box-shadow: 5px 5px 16px rgba(0, 0, 0, .3),
                1px 1px 18px rgba(0, 0, 0, .35),
                1px 1px 8px rgba(0, 0, 0, .5) !important;
  }

  .show-title {
    text-shadow: 1px 1px lightgrey;
  }
}