// Place all the styles related to the Productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.cast-list {
  list-style: none;
}

.member-link {
  text-decoration: none;

  :hover {
    background-color: white;
    text-decoration: none;
    text-shadow: 1px 1px lightgrey;
  }
}