// Place all the styles related to the Productions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.cast-list {
  list-style: none;
}

.member-link {
  text-decoration: none;

  :hover {
    background-color: white;
    text-decoration: none;
    text-shadow: 1px 1px lightgrey;
  }
}

.fa-rotate-155 {
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -ms-transform: rotate(155deg);
  -o-transform: rotate(155deg);
  transform: rotate(155deg);
}

.fa-rotate-205 {
  -webkit-transform: rotate(205deg);
  -moz-transform: rotate(205deg);
  -ms-transform: rotate(205deg);
  -o-transform: rotate(205deg);
  transform: rotate(205deg);
}

#purchase-details {
  border: groove 1px lightgrey;
  background-color: white;
}