// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-header {
  font-size: 4em;
}

#welcome-body {
  position: absolute;
  top: 130px;
  left: 10%;
  width: 80%;
  //transform: translate(-80%, -50%);
}