// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#welcome-header {
  font-size: 5em;
}

#welcome-body {
  padding-top: 3em;
}

#welcome-page {
  width: 100%;
  height: 100%;

  background: image_url('stock_photos/ancient-architecture-art-189532.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}