.modal.fade{id: 'dev_modal',
            style: 'padding-top: 4em;',
            'aria-label': 'Under Development Modal',
            role: 'dialog',
            tabindex: '-1'}
  .modal-dialog{role: 'dialog'}
    .modal-content
      .modal-header
        .container
          .row
            .col-12
              .h3.text-center Under Development!
      .modal-body
        Hey there, Ray here. This website is currently under development.
        So, please bear with us. Please bare with us... please bair...
        %hr
        If you find any typos or bugs or things that you think are stupid,
        feel free to email me at raymondfallon@gmail.com or report an issue!
        %br
        Thanks!
      .modal-footer
        %button.btn.btn-outline-secondary{ type: 'button', 'data-dismiss': 'modal' } Close
        =link_to 'Report!', 'https://github.com/RaymondFallon/shakespeare70/issues', class: 'btn btn-primary',
                                                                                     target: '_blank',
                                                                                     style: 'color:white;'

