%header.navbar.container#s70-header
  #header-inner.row.justify-between
    %div.h2.permanent-marker=link_to "SHAKESPEARE '70", root_path
    %nav.row#main-navigation
      %ul
        %li.collection.nav-item.inline-block Community
        %li.collection.nav-item.inline-block Coming Soon
        %li.collection.nav-item.inline-block= link_to 'Bios', members_path
        %li.collection.nav-item.inline-block= link_to 'Past Shows', productions_path
        %li.collection.nav-item.inline-block Donate

