= link_to 'https://www.facebook.com/Shakespeare70/',
                  class: 'no-decoration goldenrod',
                  title: 'Facebook',
                  target: '_blank' do
  %i#facebook_icon.fa.fa-facebook.ml-2{ 'aria-hidden': 'true' }
  = link_to 'https://twitter.com/Shakespeare70',
                  class: 'no-decoration goldenrod',
                  title: 'Twitter',
                  target: '_blank' do
    %i#twitter_icon.fa.fa-twitter.ml-2{ 'aria-hidden': 'true' }
  =link_to 'https://www.instagram.com/shakespeare70inc/',
                 class: 'no-decoration goldenrod',
                 title: 'Instagram',
                 target: '_blank' do
    %i#instagram_icon.fa.fa-instagram.ml-2.mr-2{ 'aria-hidden': 'true' }