- if @member.castings.this_season.any?
  %h4.ruslan This Season
  %ul
    - @member.castings.this_season.each do |casting|
      %li.deep-grey
        =casting_credit(casting)
- if @member.castings.with_s70.any?
  %h4.ruslan With S'70
  %ul
    - @member.castings.with_s70.each do |casting|
      %li.deep-grey
        =casting_credit(casting)
- if @member.castings.with_others.any?
  %h4.ruslan Other Companies
  %ul
    - @member.castings.with_others.each do |casting|
      %li.deep-grey
        = other_credit(casting)