
%h4.ruslan
  With S'70
  %span.selected-heading-text (Selected)
%ul.mb-1
  - @member.castings.with_s70.selected.each do |casting|
    %li.deep-grey
      = casting_credit(casting)
  - @member.castings.with_s70.not_selected.each do |casting|
    %li.deep-grey.unselected-credit.hidden
      = casting_credit(casting)
%span.m-3 + show more
