
%div.casting_credit
  %em= link_to("#{production.title}:", production, class: 'black no-decoration hover-shadow mr-2')
  - castings.acting_gig.each do |casting|
    = casting.role + (castings.size > 1 ? ',' : '' )
  - if castings.pro_staff.any?
    - castings.pro_staff.each_with_index do |casting, idx|
      = casting.position.description + (idx == castings.pro_staff.length - 1 ? '' : ',')