.container
  .row
    .col-12
      %hr
      %h1.text-center.poppins Meet The Ensemble
      %hr

.container-fluid
  .row.mb-3
    = render partial: 'member_card', collection: @members, as: 'member'
